*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/Background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.title-link a{
    text-decoration: none;
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    transition: 0.5s;
}

.title-link a:hover{
    color: #fe6a00;
    transition: 0.5s;
}

nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fe6a00;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    text-shadow: 1px 4px 3px rgba(0,0,0,0.8);
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 36px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.25s;
}
.hero-btn:hover{
    border: 1px solid #156691;
    background: #156691;
    transition: 0.75s;
}
nav .fa{
    display: none;
}

.chatgptInstructions{
    display: none;
}


/*-----Portfolio-----*/
.portfolio{
    width: 80;
    margin: auto;
    text-align: center;
    background-color: #525252;
    border-top: 5px solid #d7d7d7;
}

.portfolioIntro{
 padding: 50px;
 background-color:#a0a0a0;
}

.portfolioIntro h1{
    font-size: 36px;
    font-weight: 600;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

.portfolioIntro p{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.showcase{
    border-top: 5px solid #d7d7d7;
    overflow: auto;
}

.showcase h3{
    padding-top: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}
.showcase h4{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
    color: #222222;
}

.showcaseBody{
    margin: 2%;
    display: flex;
    justify-content: space-between;
}

.showcaseColumn{
    text-align: left;
    color:#ccc;
}

.showcaseLinkSection{
    text-align: left;
    padding: 20px;
}

.showcaseLink{
    display:inline-flex;
    background: #fe6a00;
    height: 40px;
    width: 250px;
    border-radius: 25px;
    margin: 10px;
    position: relative;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
    box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.4);
    transition: 0.33s;
}

.showcaseLink:hover{
    background: #d7d7d7;
    box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.3);
    transition: 0.75s;
}

.showcaseLink h5{
    font-weight: 900;
    font-size: 15px;
}

.icon{
    text-align: center;
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

/*-----Footer-----*/
.footer{
    display: flex;
    margin: none;
    justify-content: space-between;
    padding: 20px;
    background: #222222;
    box-shadow: 0px -1px 4px 2px rgba(0,0,0,0.3);
}

.personalInfo{
    text-align: left;
    color: #d7d7d7;
    font-weight: 600;
}

.quote{
    text-align: center;
    color: #2b2b2b;
    font-size: 12px;
    font-weight: 600;
}

.siteInfo{
    text-align: right;
    color: #d7d7d7;
    font-weight: 200;
}

/*---Contact---*/

.headerContact{
    width: 100%;
    background-color: #222222;
    background-position: center;
    background-size: cover;
    position: relative;
    border-bottom: dashed #d7d7d7;
}

.detailsSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background: #525252;
    overflow: auto;

}

.detailsDiv{
    width: 50%;
    padding: 20px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}

.detailsDiv h1{
    text-align: center;
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 50px;
    
}

.detailsDiv p{
    font-weight: 500;
}

.contactPageSplit{
    display: flex;
    justify-content: center;
    
}

.contactLink{
    display:flex;
    background: #38aceb;
    height: 40px;
    width: 300px;
    border-radius: 25px;
    margin: 10px;
    position: relative;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
    box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.4);
    transition: 0.33s;
}

.contactLink:hover{
    background: #d7d7d7;
    box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.3);
    transition: 0.75s;
}

.contactLink h2{
    font-weight: 900;
    font-size: 15px;
}

.contactIcon{
    text-align: left;
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.contactMeSpeel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
    width: 500px;
}

/*---About---*/
.aboutTripleSection{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.aboutTriple{
    width: 30%;
    padding: 20px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.503);
    border-radius: 50px;
}

.aboutTriple h2{
    text-align: center;
    color: #1c80b5;
    text-shadow: 0px 0px 3px rgba(28, 128, 181,0.5);
    font-weight: bold;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

/*---Blog---*/

.headerBlog{
    width: 100%;
    background-color: #222222;
    background-position: center;
    background-size: cover;
    position: relative;
    border-bottom: dashed #d7d7d7;
}

.articles{
    background-color: #525252;
    min-height: 100vh;
}

.collapsibleArticle{
    padding: 20px;
    background-color:  #525252;
}

.collapsibleButton{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 3px 1px 5px 3px rgba(0,0,0,0.8);
    transition: 0.1s;
}

.active, .collapsibleButton:hover{
    background-color: #ccc;
    box-shadow: none;
}

.collapsibleContent{
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.collapsibleButton:after{
    font-family: FontAwesome;
    content: '\f067';
    font-size: 20px;
    color: #444;
    float: right;
    margin-left: 5px;
    box-shadow: none;
    transition: 0.1s;
}

.collapsibleContent p{
    margin: 20px;
}
.collapsibleContent ul{
    margin-left: 30px;
}

.active:after{
    font-family: FontAwesome;
    content: '\f068';
}

.rotateEEgg{
    display: none;
}

@media (pointer:none), (pointer:coarse){
    /*---Mobile View---*/
    @media(max-width: 700px){
        /*---Main/Portfolio---*/
        html, body{
            overflow-x: hidden;
        }

        body{
            position: relative;
        }

        .text-box h1{
            font-size: 30px;
        }

        .text-box p{
            font-size: 20px;
        }

        .nav-links ul li{
            display: block;
        }

        .nav-links{
            position: absolute;
            background: #515968;
            height: 100vh;
            width: 200px;
            top: 0;
            right: -210px;
            text-align: left;
            z-index: 2;
            transition: 1s;
            box-shadow: -2px 0px 4px 6px rgba(0,0,0,0.4);
        }

        nav .fa{
            display: block;
            color: #fff;
            margin: 10px;
            font-size: 22px;
            cursor: pointer;
        }

        .nav-links ul{
            padding: 30px;
        }

        .showcaseLinkSection{
            text-align: center;
            padding: 20px;
        }

        .showcaseBody{
            margin: 0%;
            display: flex;
            flex-flow: column;
        }

        .showcaseColumn{
            margin: 10%;
        }

        #showcaseVideo{order:1;}
        #showcaseText{order:2;}

        .videoWrapper{
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.4);
        }
        
        .videoWrapper iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .quote{
            display: none;
        }

        /*---About---*/

        .aboutTripleSection{
            display: block;
            margin-top: 0%;
        }

        .aboutTriple{
            width: auto;
            margin: 10px;
            border-radius: 30px;
        }

        .aboutTriple h2{
            text-align: center;
            color: #1c80b5;
            font-weight: bold;
            font-size: 30px;
            padding-top: 0px;
            padding-bottom: 10px;
        }
        /*---Blog---*/

        .collapsibleButton{
            font-size: 18px;
        }

        /*---Contact---*/
        
        .detailsSection{
            display: flex;
            justify-content: center;
            align-items: center;
            height:100vh;
            background: #525252;
            overflow: hidden;
        }

        .detailsDiv{
            width: 80%;
            padding: 20px;
            margin-right: 0px;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 30px;
        }

        .contactPageSplit{
            display: block;
        }

        .detailsDiv h1{
            text-align: center;
            font-weight: 900;
            font-size: 40px;
            text-shadow: 0px 0px 3px rgba(0,0,0,0.3);
        }
        
        .detailsDiv p{
            text-align: center;
            font-weight: 500;
            padding-bottom: 20px;
            padding-top: 20px;
        }

        .contactMeSpeel{
            display: auto;
            justify-content: auto;
            align-items: auto;
            padding-right: none;
            width: 100%;
        }

        .contactLink{
            width: auto;
        }
    }

    @media (orientation: landscape ) {
        .footer{display: none;}
        .portfolio{display: none;}
        .header{display: none;}
        .headerBlog{display: none;}
        .headerContact{display:none;}
        .detailsSection{display: none;}
        .articles{display: none;}

        .rotateEEgg{
            display: flex;
            width: 100vw;
            height: 100vh;
            background-color: #525252;
            text-align: center;
            align-items: center;
            margin: auto;
            color: #d7d7d7;
            font-weight: 600;
            font-size: 20px;
        }
        
        .rotateEEgg p{
            margin: 20px;
            color: #d7d7d7;
            font-weight: 600;
            font-size: 20px;
        }
    }
}
